In [166]:
#importing all package....
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import os

In [167]:
#preparing train data...................

train_data=pd.read_csv('train_relationships.csv')
test_data=pd.read_csv('sample_submission.csv')

train_data[:5]

           p1          p2
0  F0002/MID1  F0002/MID3
1  F0002/MID2  F0002/MID3
2  F0005/MID1  F0005/MID2
3  F0005/MID3  F0005/MID2
4  F0009/MID1  F0009/MID4

In [168]:
train_data.describe()

                p1           p2
count         3598         3598
unique        1725         1439
top     F0825/MID5  F0690/MID10
freq             9            8

In [169]:
#add non-related column.......
list1=list(train_data.p1)

list2=list(train_data.p2)
new_list=list1[::-1]


temp_data=pd.DataFrame({'p1':new_list,'p2':list2})
#print(temp_data)
train_data=pd.concat([train_data,temp_data])
train_data.describe()

#creating whole label................................................
label=[]

for i in range(0,7196):
    if i<3599:
        label.append(1)
    else:
        label.append(0)
#print(label)

In [170]:
def add_image_path(x):
    image_path='train/'+x
    #print(image_path)
    if os.path.exists(image_path):
        #print(os.listdir(image_path)[0])
        path=os.path.join(image_path,os.listdir(image_path)[0])
        #print(path)
        
        return path

In [171]:
train_data['p1_path']=train_data.p1.apply(lambda x:add_image_path(x))

train_data['p2_path']=train_data.p2.apply(lambda x:add_image_path(x))


train_data['is_realted']=np.array(label)

In [172]:
#now check the train_data 
train_data.head()

,p1,p2,p1_path,p2_path,is_realted
0,F0002/MID1,F0002/MID3,train/F0002/MID1/P00017_face3.jpg,train/F0002/MID3/P00013_face3.jpg,1
1,F0002/MID2,F0002/MID3,train/F0002/MID2/P00018_face3.jpg,train/F0002/MID3/P00013_face3.jpg,1
2,F0005/MID1,F0005/MID2,train/F0005/MID1/P00059_face2.jpg,train/F0005/MID2/P00054_face2.jpg,1
3,F0005/MID3,F0005/MID2,train/F0005/MID3/P00059_face1.jpg,train/F0005/MID2/P00054_face2.jpg,1
4,F0009/MID1,F0009/MID4,train/F0009/MID1/P11724_face4.jpg,train/F0009/MID4/P11744_face1.jpg,1

In [173]:
train_data.tail(10)

,p1,p2,p1_path,p2_path,is_realted
3588,F0009/MID2,F1000/MID6,train/F0009/MID2/P11721_face1.jpg,train/F1000/MID6/P10584_face1.jpg,0
3589,F0009/MID2,F1000/MID9,train/F0009/MID2/P11721_face1.jpg,train/F1000/MID9/P10578_face4.jpg,0
3590,F0009/MID1,F1000/MID3,train/F0009/MID1/P11724_face4.jpg,train/F1000/MID3/P10578_face2.jpg,0
3591,F0009/MID1,F1000/MID1,train/F0009/MID1/P11724_face4.jpg,train/F1000/MID1/P10587_face1.jpg,0
3592,F0009/MID1,F1000/MID7,train/F0009/MID1/P11724_face4.jpg,train/F1000/MID7/P10581_face1.jpg,0
3593,F0009/MID1,F1000/MID8,train/F0009/MID1/P11724_face4.jpg,train/F1000/MID8/P10578_face1.jpg,0
3594,F0005/MID3,F1000/MID9,train/F0005/MID3/P00059_face1.jpg,train/F1000/MID9/P10578_face4.jpg,0
3595,F0005/MID1,F1000/MID9,train/F0005/MID1/P00059_face2.jpg,train/F1000/MID9/P10578_face4.jpg,0
3596,F0002/MID2,F1000/MID8,train/F0002/MID2/P00018_face3.jpg,train/F1000/MID8/P10578_face1.jpg,0
3597,F0002/MID1,F1000/MID9,train/F0002/MID1/P00017_face3.jpg,train/F1000/MID9/P10578_face4.jpg,0

# Completed of making training dataset